#greenNavbar{
    background-color: rgba(10, 198, 88, 0.552);
    display: flex;
    gap: 8%;
}

.endnavbar{
    margin-left: 59%;
}

#Navbar{
    display: flex;
    gap: 9%;
    margin-left: 4%;
    font-size: 20px;
}

h2{
    color: rgb(61, 132, 61);
}


#inspoFlower{
display: flex;
}

#terradiumCollection{
    display: flex;
    font-size: 25px;
    margin: 3%;
}

.Terradium{
    height: 300px;
}

#cacti{
    display: flex;
    margin-left: 3%;
    font-size: 20px;
}
#sale{
    display: flex;
}

.sale{
    height: 300px;
}

body{
    overflow-x: hidden;

}

#catalogues{
    display: flex;
    font-size: 37px;
    gap: 8%;
    margin-left: 32%;
    margin-top: 3%;
    }

    .collection{
        height: 320px;
    }

    #Gallery{
        display: flex;
        margin-left: 5%;
    }

    #Maincollection{
        font-size: 27px;
        text-align: center;
    }

    #treeInABottle{
        height: 600px;
    }

    #feature{
        text-align: center;
    }

    #featureProduct{
        display: flex;
        margin-left: 5%;
        gap: 5%;
        font-size: 23px;
    }

   #button{
        background-color: rgb(61, 132, 61); 
        width: 8%;
        height:40px;
        border-radius: 5px;

    }

    .button{
        background-color: rgb(61, 132, 61); 
        width: 22%;
        height:42px;
        border-radius: 5px;  
    }

    #neemTree{
        position: absolute;
        width: 90%;
        margin-left: 3%;
        margin-top: 2%;
        height: 400px;
    }

    #neemWords{
position: relative;
font-size: 25px;
left: 31%;
margin-top: 9%;
    }

    #neemButtons{
        position: relative;
        left: 31%;
    }

    #gallerydisplay{
        margin-left: 8%;
        margin-top: 8%;
    }

    .collection2{
        gap: 5%;
    }

    #cactus{
        display: flex;
        margin-left: 20%;
        margin-top: 4%;
    }

    #cactusWord{
        margin-top: 15%;
        font-size: 20px;

    }

    #blogpics{
        display: flex;
        gap: 7%;
        margin-left: 20%;
    }

    #Clients{
        display: flex;
        margin-left: 7%;
        gap: 6%;
        border-radius: 55px;
    }

    #footer{
        display: flex;
        margin-left: 25%;
        gap: 8%;
    }
   
    #emailbutton{
        height: 55px; 
        width: 99%;
    }

    #subscribe{
        height: 55px; 
        width: 99%;
        background-color:rgb(102, 236, 53);
        margin-top: 7%;
        margin-bottom: 5%;
    }




    @media screen and (max-width:900px){
        #greenNavbar{
            background-color: rgba(10, 198, 88, 0.552);
            display: flex;
          flex-wrap: wrap;
        }
        
        .endnavbar{
            
        }
        
        #Navbar{
            display: flex;
            flex-wrap: wrap;
        }
        
        h2{
            color: rgb(61, 132, 61);
        }
        
        
        #inspoFlower{
        display: flex;
        flex-wrap: wrap;
        }
        
        #terradiumCollection{
            display: flex;
            flex-wrap: wrap;
        }
        
        .Terradium{
           
        }
        
        #cacti{
            display: flex;
            flex-wrap: wrap;
        }
        #sale{
            display: flex;
            flex-wrap: wrap;
        }
        
        .sale{
           
        }
        
        body{
            overflow-x: hidden;
        
        }
        
        #catalogues{
            display: flex;
            flex-wrap: wrap;
            }
        
            .collection{
              
            }
        
            #Gallery{
                display: flex;
                flex-wrap: wrap;
            }
        
            #Maincollection{
                text-align: center;
            }
        
            #treeInABottle{
            }
        
            #feature{
                text-align: center;
            }
        
            #featureProduct{
                display: flex;
                flex-wrap: wrap;
            }
        
           #button{
                background-color: rgb(61, 132, 61); 
        
            }
        
            .button{
                background-color: rgb(61, 132, 61); 
            }
        
            #neemTree{
                position: absolute;
            }
        
            #neemWords{
        position: relative;
            }
        
            #neemButtons{
                position: relative;
            }
        
            #gallerydisplay{
            }
        
            .collection2{
            }
        
            #cactus{
                display: flex;
                flex-wrap: wrap;
            }
        
            #cactusWord{
            }
        
            #blogpics{
                display: flex;
                flex-wrap: wrap;
            }
        
            #Clients{
                display: flex;
                flex-wrap: wrap;
            }
        
            #footer{
                display: flex;
                flex-wrap: wrap;
            }
           
            #emailbutton{
            }
        
            #subscribe{
            }
    }


    @media screen and (min-width:900px){
        #greenNavbar{
            background-color: rgba(10, 198, 88, 0.552);
            display: flex;
          flex-wrap: wrap;
        }
        
        .endnavbar{
            
        }
        
        #Navbar{
            display: flex;
            flex-wrap: wrap;
        }
        
        h2{
            color: rgb(61, 132, 61);
        }
        
        
        #inspoFlower{
        display: flex;
        flex-wrap: wrap;
        }
        
        #terradiumCollection{
            display: flex;
            flex-wrap: wrap;
        }
        
        .Terradium{
           
        }
        
        #cacti{
            display: flex;
            flex-wrap: wrap;
        }
        #sale{
            display: flex;
            flex-wrap: wrap;
        }
        
        .sale{
           
        }
        
        body{
            overflow-x: hidden;
        
        }
        
        #catalogues{
            display: flex;
            flex-wrap: wrap;
            }
        
            .collection{
              
            }
        
            #Gallery{
                display: flex;
                flex-wrap: wrap;
            }
        
            #Maincollection{
                text-align: center;
            }
        
            #treeInABottle{
            }
        
            #feature{
                text-align: center;
            }
        
            #featureProduct{
                display: flex;
                flex-wrap: wrap;
            }
        
           #button{
                background-color: rgb(61, 132, 61); 
        
            }
        
            .button{
                background-color: rgb(61, 132, 61); 
            }
        
            #neemTree{
                position: absolute;
            }
        
            #neemWords{
        position: relative;
            }
        
            #neemButtons{
                position: relative;
            }
        
            #gallerydisplay{
            }
        
            .collection2{
            }
        
            #cactus{
                display: flex;
                flex-wrap: wrap;
            }
        
            #cactusWord{
            }
        
            #blogpics{
                display: flex;
                flex-wrap: wrap;
            }
        
            #Clients{
                display: flex;
                flex-wrap: wrap;
            }
        
            #footer{
                display: flex;
                flex-wrap: wrap;
            }
           
            #emailbutton{
            }
        
            #subscribe{
            }
    }